.MyAccount {
    .MyAccount-TabContent {
        @include mobile {
            max-width: 100%;
            margin-inline: initial;
        }
    }

    .MyAccountAddressBook {
        display: block;
        grid-template-columns: initial;

        .AddressBlock-Card {
            display: flex;
            border: 1px dashed #DDD8D8;
            padding: 14px 12px;

            @include mobile {
                flex-wrap: wrap;
            }

            .AddressBlock-details {
                .home-text {
                    margin: 0px 0px;
                    letter-spacing: -0.41px;
                    color: #000000;
                    font-size: 17px;
                    font-weight: normal;
                    font-family: $font-muli_bold;
                    margin-block-end: 2px;

                    span.lbldef {
                        letter-spacing: -0.34px;
                        color: #505459;
                        font-size: 14px;
                        margin-inline-start: 5px;
                        font-family: $font-muli;
                    }
                }

                .fullname {
                    letter-spacing: 0px;
                    color: #000000;

                    strong {
                        font-family: $font-muli;
                        font-size: 14px;
                    }
                }

                .street-address {
                    font-family: $font-muli;
                    font-size: 14px;
                    color: #505459;
                    margin-block-end: 2px
                }

                .telephone {
                    letter-spacing: 0px;
                    color: #000000;
                    font-size: 15px;
                    font-family: $font-muli;
                }
            }

            .btnaddressdef {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-block-end: 37px;

                .dalbh {
                    font-size: 17px;
                    letter-spacing: -0.41px;
                    color: #000000;
                    padding-inline-end: 10px;
                }
            }

            .adress-side {
                &.boxleft-ad {
                    width: 70%;

                    @include mobile {
                        width: 100%;
                    }
                }

                &.boxright-ad {
                    width: 30%;

                    @include mobile {
                        width: 100%;
                    }

                    text-align: end;

                    .AddressBlock-Actions {
                        .Button_isAccountButton {
                            height: 24px;
                            font-size: 12px;
                            color: #505459;

                            &:hover {
                                height: 24px;
                                color: #ffffff;
                                padding-inline: 10px;
                            }
                        }
                    }
                }
            }
        }

        .MyAccountAddressBook-Button {
            position: relative;
            inset-block-start: auto;
        }

        button.MyAccountAddressBook-Button {
            border: 1px solid #DDDDDD;
            border-radius: 4px;
            background-color: #F9F9F9;
            width: 100%;
            letter-spacing: 0px;
            color: #000000;
            font-size: 14px;
            font-weight: normal;
            margin-block-start: 18px;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;

            span.plus-icon {
                margin-inline-end: 5px;
            }
        }
    }

    /* Rounded sliders */

    .switch {
        position: relative;
        width: 52px;
        height: 24px;

        input {
            opacity: 0;
            width: 0;
            height: 0;
            padding: 0px 0px;
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        inset: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;

        &::before {
            position: absolute;
            content: "";
            height: 16px;
            width: 16px;
            inset-inline-end: 4px;
            inset-block-end: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
    }

    input {
        &:checked {
            +.slider {
                background-color: #5a8a89;

                &::before {
                    -webkit-transform: translateX(26px);
                    -ms-transform: translateX(26px);
                    transform: translateX(26px);
                }
            }
        }

        &:focus {
            +.slider {
                box-shadow: 0 0 1px #2196F3;
            }
        }
    }

    .slider.round {
        border-radius: 34px;

        &::before {
            border-radius: 50%;
        }
    }
}
